.container-full{style: 'padding: 30px;'}
  .row
    .col-xs-12
      = link_to 'Back', surveys_path, class: 'btn btn-info'
      %h1= "Station: #{@station.name}"
    - @station.topics.each do |topic|
      .col-xs-12{style: 'margin-top: 30px;'}
        %h2= 'Topic: ' + topic.name

      .col-xs-12
        - @station.survey.roles.each do |role|
          %h3= role.name
          - statement_set = StatementSet.find_by(role_id: role.id, topic_id: topic.id)
          - if statement_set
            - statement_set.statements.each do |statement|
              .row.margin-below
                .col-xs-4
                  %b= link_to statement.text, edit_statement_path(statement.id)
                .col-xs-8
                  .row
                    - statement.choices.each do |choice|
                      .col-xs-2
                        = choice.text
                        %b= "(#{choice.answers.count})"

          .row
            .col-xs-12
              - if statement_set
                = link_to 'New statement', new_statement_set_statement_path(statement_set_id: statement_set.id), class: 'btn btn-success'
              - else
                = link_to 'New statement', new_statement_set_path(topic_id: topic.id, role_id: role.id), class: 'btn btn-success'
