.container-full{style: 'padding: 30px;'}
  .row
    - @survey.topics.each do |topic|
      .col-xs-12{style: 'margin-top: 30px;'}
        %h2= 'Topic: ' + topic.name
      .col-xs-12
        - topic.statement_sets.each do |set|
          %hr.col-xs-12
            %h3= 'Role: ' + set.role.name
            - set.statements.each do |statement|
              .row{style: 'margin-bottom: 12px;'}
                .col-xs-4
                  %b= statement.text
                .col-xs-8
                  .row
                    - statement.choices.each do |choice|
                      .col-xs-2
                        = choice.text
                        %b= "(#{choice.answers.count})"

  .row{style: 'margin-top: 100px;'}
    .col-xs-12
      %h1 Who?
      - if @answers.count == 0
        No answers yet
      - else
        - @answers.sort_by(&:created_at).reverse.group_by { |o| o.statement.statement_set }.each do |stamenent_set, answers|
          .row{style: 'margin-bottom: 20px;'}
            .col-xs-4
              %b= stamenent_set.topic.name
            .col-xs-8
              - answers.group_by { |o| o.uuid }.each do |uuid, answers|
                .row
                  .col-xs-4
                    = answers[0].statement.statement_set.role.name
                  .col-xs-4
                    = uuid
                  .col-xs-4
                    = answers[0].created_at
