#survey-index.all-centered
  - @surveys.each do |survey|
    %h1
      = 'Survey: '
      = link_to survey.name, survey_ident_path(survey.id)
      = ' | '
      = link_to 'answers', survey_answers_path(survey.id)
    = 'Roles: ' + survey.roles.map{ |r| r.name + "(#{r.id})" }.join(', ')
    - survey.stations.each do |station|
      %h2= 'Station: ' + station.name
      = 'Topics: '
      - station.topics.each do |topic|
        = link_to topic.name, topic_ident_path(topic.id)
        = ' | '
    %hr
