!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InnoSurvey
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/shared/flash_messages', flash: flash

    .main-header
      = image_tag 'bmvi', style: 'right: 20px;'
      = image_tag 'mFund', style: 'right: 150px;'
      = image_tag 'forum', style: 'left: 20px;'
      - if @survey
        = 'Survey - ' + @survey.name
      - elsif @topic
        = 'Survey - ' + @topic.name

    = yield
