!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InnoSurvey
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .main-header
      = image_tag 'bmvi.svg', style: 'right: 20px;'
      = image_tag 'mFund.jpg', style: 'right: 150px;'
      = image_tag 'forum.jpg', style: 'left: 20px;'
      - if @survey
        = @survey.name
      - elsif @station
        = @station.name
      - elsif @topic
        = @topic.name
      - elsif @statement
        = @statement.topic.name

    .container
      .row
        .col-xs-12
          = render 'layouts/shared/flash_messages', flash: flash

    = yield
